* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  line-height: 1.6;
  background: #ffffff;
  color: $accent;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}
html {
  scroll-padding-top: 100px; /* Cambia 100px por la altura real de tu header */
}
